<div class="book-demo-modal">
  <img
    id="close-btn"
    class="close-icon"
    src="assets/icons/close-icon.svg"
    alt=""
  />
  <div>
    <h1>Book a Free Demo Class</h1>
    <p>Fill up this form and we will connect you shortly</p>
  </div>

  <form action="">
    <div class="book-demo-input">
      <label for="">Name</label><br />
      <input type="text" />
    </div>
    <div class="book-demo-input">
      <label for="">Email ID</label><br />
      <input type="text" />
    </div>
    <div class="dropdown-wrapper">
      <select class="custom-dropdown" required>
        <option value="" disabled selected hidden>
          Choose your curriculum syllabus
        </option>
        <option value="cbse">CBSE</option>
        <option value="icse">ICSE</option>
        <option value="state">State Board</option>
      </select>
    </div>
    <div class="dropdown-wrapper">
      <select class="custom-dropdown" required>
        <option value="" disabled selected hidden>
          Choose your curriculum syllabus
        </option>
        <option value="cbse">CBSE</option>
        <option value="icse">ICSE</option>
        <option value="state">State Board</option>
      </select>
    </div>
    <div class="dropdown-wrapper">
      <select class="custom-dropdown" required>
        <option value="" disabled selected hidden>
          Choose your curriculum syllabus
        </option>
        <option value="cbse">CBSE</option>
        <option value="icse">ICSE</option>
        <option value="state">State Board</option>
      </select>
    </div>
    <div class="book-demo-input">
      <label for="">Write your Message</label><br />
      <textarea rows="5"></textarea>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>

<!-- <style>
  #book-demo {
    /* position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
    /* width: 50%; */

    /* z-index: 999; */
    height: 95dvh;
  }

  .close-icon {
    position: absolute;
    top: 30px;
    right: 30px;
  }

  .book-demo-modal {
    padding: 30px;
    background-color: #ffffff;
    width: 100%;
    border-radius: 8px;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    height: 95dvh;
    overflow-y: scroll;
  }

  .book-demo-modal form {
    width: 100%;
    display: grid;
    gap: 20px;
  }

  .book-demo-modal form button {
    height: 48px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    line-height: 100%;
    border-radius: 8px;
    text-align: center;
    background-color: var(--primary-color);
  }

  .book-demo-modal h1 {
    color: #655945;
    font-weight: 600;
    font-size: 33px;
    text-align: center;
  }

  .book-demo-modal p {
    font-weight: 400;
    font-size: 15px;
    color: #969696;
    text-align: center;

    margin-bottom: 20px;
  }

  .book-demo-input {
    width: 100%;
  }

  .book-demo-input label {
    color: #655945;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 7px;
  }

  .book-demo-input input {
    width: 100%;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #6559453d;
    outline: none;
    padding: 14px;
  }

  .book-demo-input textarea {
    width: 100%;
    /* height: 48px; */
    border-radius: 8px;
    border: 1px solid #6559453d;
    outline: none;
    padding: 14px;
  }

  .book-demo-modal .dropdown-wrapper {
    width: 100%;
    position: relative;
    border-radius: 8px;
  }

  .book-demo-modal .custom-dropdown {
    width: 100%;
    padding: 14px 48px 14px 16px;
    font-weight: 400;
    font-size: 16px;
    font-family: inherit;
    background-color: #fff3e1;
    color: #655945;
    border: none;
    border-radius: 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;

    background-image: url("data:image/svg+xml,%3Csvg width='14' height='10' viewBox='0 0 14 10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1l6 6 6-6' stroke='%23666' stroke-width='2' fill='none' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 16px center;
    background-size: 14px;
  }

  .book-demo-modal .custom-dropdown option {
    height: 48px;
  }

  .book-demo-modal .custom-dropdown:focus {
    outline: none;
  }
</style> -->
